- content_for(:stylesheets) { stylesheet_link_tag( "<%= file_name %>/<%= file_name %>" ) }
- content_for(:meta) { render "shared/meta", @meta }

%div.row__inner.row__inner--content.copy--freight
  %h1 <%= file_name %>