- content_for(:async_js) {'<%= file_name %>/<%= file_name %>'}
- content_for(:stylesheets) do
  = smart_stylesheet('<%= file_name %>/<%= file_name %>')
- content_for(:meta) { render "shared/meta", @meta }